.container{
    background-color: #D3D3D3;
    width: 600px;
    height: 400px;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: 2px rgb(101, 101, 101) solid
}

#elem-1, #elem-2, #elem-3, #elem-4{
    background-color: #2F2F2F;
    width: 100px;
    height: 100px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}